<div id="scenario-panel" class="max-w-[calc(100%_-_361px)] w-full fixed bottom-0 right-0 z-60 bg-white 
transition-all duration-300 translate-y-100p rounded-t-3 mx-5">
    <div id="scenario-panel-inner" class="grid grid-cols-7 gap-y-7 gap-x-10 px-7 py-14">
        <div class="grid grid-cols-[auto_repeat(6,minmax(0,1fr))] col-span-7 gap-x-7">
            <div class="col-span-1 w-30"></div>
            <div id="scenario-header-left" class="scenario-header col-start-2 col-span-3 bg-[#a09e9ec2] text-white rounded p-10 text-center">
                Maatschappelijke kosten
            </div>
            <div id="scenario-header-right" class="scenario-header col-span-3 bg-[#7bc485] text-white rounded p-10 text-center">
                Besparingen: selecteer een scenario
            </div>
        </div>
        
        <div id="data-scenario-1" class="grid grid-cols-[auto_repeat(6,minmax(0,1fr))] col-span-7 gap-x-7">
            <div class="col-span-1 flex flex-col justify-center items-center w-30 gap-7">
                <i class="fa-solid fa-truck"></i>
                <i class="fa-solid fa-van-shuttle"></i>
            </div>

            <div id="data-scenario-1-left" class="col-span-3 grid grid-cols-6 gap-x-5">
                <div id="trucks" class="col-span-2 text-15 leading-[20px] py-5 px-10 min-h-50 flex items-center bg-[#a09e9e2a] rounded"></div>
                <div id="caddies" class="col-span-2 text-15 leading-[20px] py-5 px-10 min-h-50 flex items-center bg-[#a09e9e2a] rounded"></div>
                <div id="innercity" class="col-span-2 text-15 leading-[20px] py-5 px-10 min-h-50 flex items-center bg-[#a09e9e2a] rounded"></div>
            </div>

            <div id="data-scenario-1-right" class="col-span-3 grid grid-cols-6 gap-x-5">
                <div id="cell11" class="col-span-2 text-15 leading-[20px] py-5 px-10 min-h-50 flex items-center rounded bg-[#9ac5a031]"></div>
                <div id="cell12" class="col-span-2 text-15 leading-[20px] py-5 px-10 min-h-50 flex items-center rounded bg-[#9ac5a031]"></div>
                <div id="cell13" class="col-span-2 text-15 leading-[20px] py-5 px-10 min-h-50 flex items-center rounded bg-[#9ac5a031]"></div>
            </div>
        </div>

        <div id="data-scenario-2" class="grid grid-cols-[auto_repeat(6,minmax(0,1fr))] col-span-7 gap-x-7">
            <div class="col-span-1 flex flex-col justify-center items-center w-30">
                <i class="fa-solid fa-coins"></i>
            </div>

            <div id="data-scenario-2-left" class="col-span-3 grid grid-cols-6 gap-x-5">
                <div id="co2" class="col-span-2 text-15 leading-[20px] py-5 px-10 min-h-50 flex items-center bg-[#a09e9e2a] rounded"></div>
                <div id="vulnerable-objects" class="col-span-2 text-15 leading-[20px] py-5 px-10 min-h-50 flex items-center bg-[#a09e9e2a] rounded"></div>
                <div id="cost-infra" class="col-span-2 text-15 leading-[20px] py-5 px-10 min-h-50 flex items-center bg-[#a09e9e2a] rounded"></div>
            </div>

            <div id="data-scenario-2-right" class="col-span-3 grid grid-cols-6 gap-x-5">
                <div id="cell21" class="col-span-2 text-15 leading-[20px] py-5 px-10 min-h-50 flex items-center rounded bg-[#9ac5a031]"></div>
                <div id="cell22" class="col-span-2 text-15 leading-[20px] py-5 px-10 min-h-50 flex items-center rounded bg-[#9ac5a031]"></div>
                <div id="cell23" class="col-span-2 text-15 leading-[20px] py-5 px-10 min-h-50 flex items-center rounded bg-[#9ac5a031]"></div>
            </div>
        </div>

    </div>
</div>