<div id="sidebar-menu-generatedlist" class="overflow-y-auto max-h-[calc(100%_-_75px)]">
    <div class="group-header overflow-x-hidden ml-0 after:h-1 px-10">
        <button class="dropdown-btn text-17 border-0 bg-transparent w-full cursor-pointer relative py-10 flex items-center text-text-sidebar after:!right-10">
            <i class="inline-block pr-7 fa-solid fa-truck"></i> Toelichting bouwlogistiek
        </button>
        <div class="block dropdown-container overflow-hidden box-content">
            <div class="dropdown-elements pl-0 pr-8 mr-8 px-2">
                <p>In de kaart zijn ontwikkelgebieden met vastgestelde bouwplannen weergegeven. Klik op een gebied voor meer informatie en een overzicht van de verwachte volumes aan bouwverkeer uitgesplitst naar herkomstgemeente.</p>
            </div>
        </div>
    </div>

    <div class="group-header overflow-x-hidden ml-0 after:h-1 px-10">
        <button class="dropdown-btn text-17 border-0 bg-transparent w-full cursor-pointer relative py-10 flex items-center text-text-sidebar after:!right-10">
            <i class="inline-block pr-7 fa-solid fa-circle-info"></i> Plangebied details
        </button>
        <div class="block dropdown-container overflow-hidden box-content">
            <div class="dropdown-elements pl-0 pr-8 mr-8 px-2">
                <p id="plangebied_details">Selecteer een plangebied op de kaart.</p>
            </div>
        </div>
    </div>

    <div class="group-header overflow-x-hidden ml-0 after:h-1 px-10">
        <button id="kosten" class="dropdown-btn text-17 border-0 bg-transparent w-full cursor-pointer relative py-10 flex items-center text-text-sidebar after:!right-10">
            <i class="inline-block pr-7 fa-solid fa-coins"></i> Maatschappelijke kosten
        </button>
        <div class="block dropdown-container overflow-hidden box-content">
            <div class="dropdown-elements pl-0 pr-8 mr-8 px-2">
                <p id="bouwlogistiek_uitstoot">Selecteer een plangebied op de kaart.</p>
            </div>
        </div>
    </div>
    
    <div class="group-header overflow-x-hidden ml-0 after:h-1 px-10">
        <button id="scenarios" class="dropdown-btn text-17 border-0 bg-transparent w-full cursor-pointer relative py-10 flex items-center text-text-sidebar after:!right-10">
            <i class="inline-block pr-7 fa-solid fa-magnifying-glass-chart"></i> Scenario analyse
        </button>
        <div class="block dropdown-container overflow-hidden box-content">
            <div class="dropdown-elements pl-0 pr-8 mr-8 px-2">
                <p>Selecteer een plangebied op de kaart, en een scenario om de routes en besparingen in kaart te brengen.</p>
                <!-- <button id='niks doen' class="btn scenario-btn" onclick="niksDoen()" data-title="Niks doen"> -->
                <h3 class="text-18 pt-10 text-primary-light">Mogelijke Scenarios:</h3>
                <button id="niks_doen" class="btn scenario-btn w-full bg-primary-lighter text-white rounded pb-8 mb-10" data-title="Niks doen">
                    Niks doen
                </button>
                <button id="scenario_1_hubs" disabled class="btn scenario-btn w-full bg-primary-lighter text-white rounded pb-8 mb-10" data-title="Scenario 1">
                    Hubs
                </button>
                <button id="scenario_2_over_water" disabled class="btn scenario-btn w-full bg-primary-lighter text-white rounded pb-8 mb-10" data-title="Scenario 2">
                    Over water
                </button>
                <!-- <button id="scenario_3_water_hubs" class="btn scenario-btn" data-title="Scenario 3">
                    Scenario 3: Water & hubs
                </button> -->
            </div>
        </div>
    </div>
</div>