{% extends "atlas/atlas.html" %}

{# block search #}
    {{ super() }}
{# endblock search #}

{% block rondleiding %}
{% endblock rondleiding %}

{% block sidepanel_button %}
    Informatie
{% endblock sidepanel_button %}

{% block datalayers_panel %}
    {% include "components/sidepanel.html" %}
{% endblock datalayers_panel %}

{% block extra_sidepanel_buttons %}
    <button id="layer-sidepanel-btn" class="hidden relative p-15 border border-l-0 z-10 items-baseline overflow-hidden rounded-radius-r transition-all duration-200 ease-in bg-white border-gray-border lg:flex lg:visible justify-center mr-0 hover:transition-all hover:ml-6" onclick="togglePanel(this,'layer-panel','third')">
            Kaartlagen
    </button>
{% endblock extra_sidepanel_buttons %}

{% block extra_sidepanel %} 
    {% include "components/right-panels/kaartlagen.html" %}
{% endblock extra_sidepanel %}

{% block atlas_legend %}
    {% include "components/right-panels/legend.html" %}
{% endblock atlas_legend %}

{% block atlas_bottom_content %}
    {% include "components/scenario-panel-grid.html" %}
    {% include "components/loading-panel.html" %}
{% endblock atlas_bottom_content %}

{% block footer %}
    {{ super() }}
    <script type="text/javascript">
        var AzureMapsClientId = '{{ AzureMapsClientId }}';
        var GeoserverNamespace = '{{ GeoserverNamespace }}';
        var GeoserverAuth = '{{ GeoserverAuth }}';
        loadScript('spiderclusters');
    </script>
    <script src="{{url_for('static', filename='js/createMap.js')}}"></script>
    <script src="{{url_for('static', filename='js/functionality.js')}}"></script>
    <script src="{{url_for('static', filename='js/layers.js')}}"></script>
    <script src="{{url_for('static', filename='js/mapNavBase.js')}}"></script>
    <script src="{{url_for('static', filename='js/bouwlogistiek.js')}}"></script>
    <script>
        GetMapLogistiek();
        sidepanelButtons();
    </script>
{% endblock footer %}
