<div id="legend_wegennetwerk" class="flex flex-col gap-10">
    <h3 class="legend-title hidden lg:visible lg:block">Legenda</h3>

    <div class="legenda-element">
        <label class="flex w-full gap-10" title="op basis van Plancapaciteit.nl">
            <span class="bg-[#f5c382] border-[#ee8b16] border-3 w-24 h-24"></span>
            <span>Vastgestelde bouwplannen</span>
        </label>
    </div>

    <div class="legenda-element pt-10">
        <label class="flex flex-col w-full gap-2">
            <div class="">
                Verwacht aantal ritten bouwverkeer + gewicht in kiloton
            </div>
            <div class="w-full max-w-[360px] h-25 bg-gradient-to-r from-[#ffffff] to-[#9155f1]"></div>
        </label>
    </div>

    <div class="legenda-element pt-5">
        <label class="flex flex-col w-full gap-2">
            <div>Aantal ritten over berekende route</div>
            <div class="w-full max-w-[360px] h-25 bg-gradient-to-r from-[#72faff] to-[#006164]"></div>
        </label>
    </div>

    <div class="legenda-element pt-5 flex flex-col gap-5">
        <label class="flex gap-10 items-center mt-5">
            <span class="inline-block border-t-4 border-[#ffc400] border-dashed w-24 h-4"></span>
            <span>Kwetsbaar wegdeel </span>
        </label>
        <label class="flex gap-10 items-center">
            <span class="inline-flex items-center justify-center h-24 w-24">
                <i class="fa-solid fa-play fa-rotate-90 text-[#18EE43]" aria-hidden="true"></i>
            </span>
            <span>Woonverblijf</span>
        </label>
        <label class="flex gap-10 items-center">
            <span class="inline-flex items-center justify-center h-24 w-24">
                <i class="fa-solid fa-play fa-rotate-270 text-[#18EE43]" aria-hidden="true"></i>
            </span>
            <span>Onderwijsinstelling</span>
        </label>
        <label class="flex gap-10 items-center">
            <span class="inline-flex items-center justify-center h-24 w-24">
                <i class="fa-solid fa-plus text-[#18EE43]" aria-hidden="true"></i>
            </span>
            <span>Ziekenhuis</span>
        </label>
        <label class="flex gap-10 items-center">
            <span class="inline-flex items-center justify-center h-24 w-24">
                <i class="fa-solid fa-xmark text-[#18EE43]" aria-hidden="true"></i>
            </span>
            <span>Tehuis</span>
        </label>
        <label class="flex gap-10 items-center">
            <span class="inline-flex items-center justify-center h-24 w-24">
                <i class="fa-solid fa-diamond text-[#18EE43]" aria-hidden="true"></i>
            </span>
            <span>Publieksgebouw</span>
        </label>
        <label class="flex gap-10 items-center">
            <span class="inline-flex items-center justify-center h-24 w-24">
                <i class="fa-solid fa-circle text-[#18EE43]" aria-hidden="true"></i>
            </span>
            <span>Hotel/pension</span>
        </label>
        <label class="flex gap-10 items-center">
            <span class="inline-flex items-center justify-center h-24 w-24">
                <i class="fa-solid fa-square text-[#18EE43]" aria-hidden="true"></i>
            </span>
            <span>Kantoor</span>
        </label>
        <label class="flex gap-10 items-center">
            <span class="inline-flex items-center justify-center h-24 w-24">
                <i class="fa-solid fa-star text-[#18EE43]" aria-hidden="true"></i>
            </span>
            <span>Anders</span>
        </label>
    </div>

    <div class="legenda-element">
        <label class="flex gap-10 items-center">
            <span class="w-24 h-4 bg-[#d14aa9]"></span>
            <span>Doorfietsroutes </span>
        </label>
    </div>

    <div class="legenda-element">
        <label class="flex gap-10 items-center">
            <span class="inline-flex items-center justify-center h-24 w-24">
                <img src="https://stbereikbaarheid001.blob.core.windows.net/mapsprites/J16.svg" alt="" width="20" height="20">
            </span>
            <span>Wegwerkzaamheden</span>
        </label>
    </div>

    <div class="legenda-element">
        <label class="flex gap-10 items-center">
            <span class="inline-flex items-center justify-center h-24 w-24">
                <img src="https://stbereikbaarheid001.blob.core.windows.net/mapsprites/logistieke_hub.svg" alt="" width="20" height="20">
            </span>
            <span>Logistieke hubs</span>
        </label>
    </div>

    <div class="legenda-element">
        <label class="flex gap-10 items-center">
            <span class="inline-flex items-center justify-center h-24 w-24">
                <img src="https://stbereikbaarheid001.blob.core.windows.net/mapsprites/ship.svg" alt="" width="20" height="20">
            </span>
            <span>Overslagpunten</span>
        </label>
    </div>
    <div class="legenda-element">
        <label class="flex gap-10 items-center">
            <span class="w-24 h-4 bg-[#adc1df]"></span>
            <span>Vaarroutes</span>
        </label>
    </div>

</div>
